fastapi==0.110.0
uvicorn[standard]==0.29.0
python-dotenv==1.0.1
pydantic==2.6.4

chromadb
langchain
langchain-community
langchain-text-splitters
langchain-openai
langchain-huggingface
langchain-chroma

sentence-transformers
pypdf
